<app-top></app-top>
<app-sidebar></app-sidebar>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>{{ pageName }}</h1>

    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="isData else blank">
                                <tr *ngFor="let category of categoryList">
                                    <td>{{ category.category_name }}</td>
                                    <td>{{ category.category_status=="0"?"Inactive":"Active" }}</td>
                                    <td>
                                        <button class="btn btn-info">
                                            EDIT
                                        </button> || &nbsp;
                                        <button class="btn btn-warning"
                                            (click)="statusChange(category.category_id, category.category_status)">
                                            {{ category.category_status=="0"?"ACTIVE":"INACTIVE" }}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #blank>
                                <tbody>
                                    <tr>
                                        <td colspan="3">{{ errorMessage }}</td>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
<app-bottom></app-bottom>