<app-top></app-top>
<app-sidebar></app-sidebar>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>{{ pageName }}</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="isData else blank">
                                <tr *ngFor="let post of postList">
                                    <td>{{ post.blog_title }}</td>
                                    <td>{{ post.blog_descr }}</td>
                                    <td>{{ post.blog_status=="0"?"Inactive":"Active" }}</td>
                                    <td>
                                        <a [routerLink]="['/post/edit', post.blog_id]">
                                            <button class="btn btn-info">
                                                EDIT
                                            </button>
                                        </a>
                                        || &nbsp;
                                        <button class="btn btn-warning"
                                            (click)="statusChange(post.blog_id, post.blog_status)">
                                            {{ post.blog_status=="0"?"ACTIVE":"INACTIVE" }}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #blank>
                                <tbody>
                                    <tr>
                                        <td colspan="3">{{ errorMessage }}</td>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
<app-bottom></app-bottom>